/* #about {
	grid-area: about;
	background-color: var(--color-primary-1);
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 0.875em;
	height: 5.25em;
	padding-right: 0.8em;
	position: relative;
	overflow: hidden;
}

#about .BGT {
	font-size: 0.43em;
	position: absolute;
	z-index: 0;
}

#about .BGT:first-of-type {
	top: 0;
}

#about .BGT:last-of-type {
	bottom: 0;
}

#about-text {
	z-index: 1;
	grid-area: abtxt;
	display: grid;
	grid-template-areas:
		"left webdev webdev"
		"left in training";
	row-gap: 0.5em;
}

#about-header {
	z-index: 2;
	align-self: stretch;
	grid-area: left;
	font-size: 0.43em;
	padding: 0 0.55em;
}

#about-title-one {
	grid-area: webdev;
	color: var(--color-accent-1);
	text-align: right;
	align-items: flex-end;
	display: flex;
	justify-content: flex-end;
}

#about small {
	position: relative;
	bottom: 0.8em;
	grid-area: in;
	color: var(--color-accent-1);
	align-items: flex-start;
	display: flex;
	justify-content: flex-end;
}

#about-title-two {
	grid-area: training;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	text-align: right;
} */
