#intro {
	grid-area: intro;
	margin-top: 1em;
	display: grid;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	row-gap: 0.15em;
	width: min-content;
	font-size: 12vw;
}

#intro .text-subtitle {
	font-size: 0.5em;
}

#intro .text-subtitle:nth-of-type(1) {
	text-align: left;
}

#intro .text-title {
	position: relative;
	font-size: 1em;
}

#intro .BGT {
	font-size: 0.635em;
	position: absolute;
	top: -5px;
	left: -5px;
	letter-spacing: 0;
}

#intro .text-title h1 span:nth-of-type(2) {
	color: var(--color-primary-1);
}

#intro .text-subtitle:nth-of-type(2) {
	text-align: right;
}
