#motto {
	grid-area: motto;
	/* 36px */
	font-size: 1.125em;
}

#motto .text-subtitle {
	font-size: 0.335em;
}

#motto-text h3 {
	font-size: 0.665em;
}
#motto-text h3 span {
	color: var(--color-primary-1);
}
